{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>
    <a class="btn btn-primary mb-3" href="{{ path('app_articles_nouveau') }}">Créer un article</a>
    {% for article in articles %}
        <li><a href="{{ path("app_article_slug", {slug : article.slug}) }}">{{ article.titre }}</a></li>
    {% endfor %}
    <div class="navigation d-flex justify-content-center
    ">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}























