<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

</head>
<body>

    <h1>Demande de renseignement de {{ prenom }} {{ nom }}</h1>
    <p>Ceci est un test d'envoi d'email d'une template</p>

</body>
</html>